@import '../components/NewsItem/NewItem.module.scss';

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: Verdana, Geneva, sans-serif;
  color: #000;
}

button {
  cursor: pointer;
}

h3 {
  padding: 30px;
}

.news-list-page {
  min-width: 780px;
  background-color: rgb(246, 246, 239);

  @media (max-width: 800px) {
    min-width: 400px;
  }

  @media (max-width: 420px) {
    min-width: 300px;
    font-size: 7px;
  }

  &__sort {
    display: flex;
    padding: 5px;
    background-color: rgb(255, 102, 0);

    li {
      list-style: none;
      margin-right: 15px;

      button {
        border: none;
        background-color: rgb(255, 102, 0);

        &:hover {
          color: #fff;
          text-decoration: underline;
        }
      }
    }
  }
}

.news-feed__button {
  width: 120px;
  height: 22px;
  border-radius: 10px;
  background-color: rgb(244, 223, 209);
  font-size: 15px;
  border: none;

  &:hover {
    background-color: #000;
    color: #fff;
  }
}
